<section class="login-section">
  <article class="login-section__white-color">
    <div class="login-section__white-color__text-container">
      <h2 class="login-section__white-color__text-container__title">
        Bem vindo ao FindMe <br />
        Entre para continuar.
      </h2>
      <p class="login-section__white-color__text-container__subtitle">
        Não tem conta?
        <span
          class="login-section__white-color__text-container__subtitle__high-light"
          >Criar nova conta.</span
        >
      </p>

      <form
        [formGroup]="loginForm"
        class="login-section__white-color__text-container__form"
      >
        <fm-input
          formControlName="email"
          errorMessage="Digite um email válido!"
        ></fm-input>
        <fm-input
          formControlName="senha"
          errorMessage="Digite uma senha de no mínimo 8 dígitos!"
        ></fm-input>
      </form>
    </div>
  </article>

  <article class="login-section__map-background">section2</article>
</section>
