@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  font-size: 0.9rem;
}
