$fm-color-black-base: #0f141f;
$fm-color-black-light: #151b26;
$fm-color-black-dark: #06090f;

$fm-color-white-base: #f7f9fc;
$fm-color-white-light: #e8ebf0;
$fm-color-white-dark: #d8dbe3;

$fm-color-blue-base: #1b69d2;
$fm-color-blue-light: #5390e3;
$fm-color-blue-dark: #1357b3;

$fm-color-gray-1: #2b2b2c;
$fm-color-gray-2: #424344;
$fm-color-gray-3: #595a5c;
$fm-color-gray-4: #717274;
$fm-color-gray-5: #888a8c;
$fm-color-gray-6: #9ea0a3;

$fm-color-red: #f03d3d;
$fm-color-yellow: #ffce52;
$fm-color-green: #0bb07b;
