@import '../../../../styles/token.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.7rem;

  &__container {
    max-width: 90%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__navigation {
      display: flex;
      align-items: center;
      gap: 2rem;
      position: relative;

      &__logo {
        width: 44px;
        height: 44px;
        cursor: pointer;

        &--small {
          width: 94px;
          cursor: inherit;
        }
      }

      &__menu {
        color: $fm-color-black-base;

        @include breakpoint('md') {
          display: none;
        }
      }
    }

    &__actions {
      display: flex;
      gap: 1rem;

      &--mobile {
        &__menu {
          width: 30px;
          height: 30px;
          padding: 0.25rem;
          cursor: pointer;
        }

        &__floating-menu {
          position: absolute;
          left: 0;
          top: 4.7rem;
          width: 100vw;
          height: 87dvh;
          background: $fm-color-white-base;
          z-index: 100;
          overflow: hidden;

          li {
            list-style: none;
            margin-top: 2rem;
            margin-left: 2rem;

            a {
              color: $fm-color-black-light;
              text-decoration: none;
              font-size: 1.25rem;
              transition: all 0.1s;

              &:hover {
                color: $fm-color-blue-dark;
              }
            }
          }

          &__call-to-action {
            position: absolute;
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 2rem;
          }
        }
      }
    }
  }
}
