<header class="header">
  <div class="header__container">
    <nav class="header__container__navigation">
      <img
        src="assets/find-me-logo.svg"
        alt="logo da FindMe"
        class="header__container__navigation__logo"
      />
      <p class="header__container__navigation__menu">
        Encontrar estabelecimentos
      </p>
      <p class="header__container__navigation__menu">Categorias</p>
      <p class="header__container__navigation__menu">Quem somos</p>
    </nav>

    <div class="header__container__actions">
      <fm-button [outline]="true">Entrar</fm-button>
      <fm-button>Começar</fm-button>
    </div>
  </div>
</header>
