<header class="header">
  <div class="header__container">
    <nav class="header__container__navigation">
      <img
        src="assets/find-me-logo.svg"
        alt="logo da FindMe"
        class="header__container__navigation__logo"
      />
      <p>Encontrar estabelecimentos</p>
      <p>Categorias</p>
      <p>Quem somos</p>
    </nav>

    <div class="header__container__actions">
      <fm-button [outline]="true" label="Sign up"></fm-button>
      <fm-button label="Login"></fm-button>
    </div>
  </div>
</header>
